{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Koala{% endblock %}</title>

    {% block extrastyle %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

    {% block extrahead %} {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="{% url 'home' %}">Koala</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                {% include 'learning/dropdown.html' %}
            </li>
        </ul>

        <ul class="navbar-nav ml-auto mt-lg-0">
            {% if running_in_demo %}
                <li class="nav-item my-2 m-1 d-none d-md-block d-lg-block">
                    <a class="badge badge-primary p-2" href="https://gitlab.com/koala-lms/lms/issues/new" target="_blank">{% trans "Report an issue" %}</a>
                </li>
                <li class="nav-item my-2 m-1 d-none d-md-block d-lg-block">
                    <span class="badge badge-warning p-2" data-toggle="tooltip" data-placement="bottom"
                          title="{% trans "When running preview, you will surely encounter bugs and other issues. This is normal and helps us to enhance Koala-LMS. Please, report any error you find." %}">
                    {% trans "Technical preview" %}
                </span>
                </li>
            {% endif %}
            <li class="nav-item ml-auto">
                {% include 'accounts/partials/navbar-dropdown.html' %}
            </li>
        </ul>
    </nav>
</header>

{% block content %} {% endblock %}

</body>
</html>

