{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container mt-4">
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Closed_Book_Icon.svg" class="card-img-top mx-auto p-2" style="width: 13rem;"  alt="Learning application logo">
        <div class="card-body">
          <h5 class="card-title">{% trans "Learning application" %}</h5>
          <p class="card-text">{% trans "Learn courses you subscribed in and write your own courses, activities and educational resources." %}</p>
          <a href="{% url "learning:index" %}" class="btn btn-primary">{% trans "Go to learning application" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
